@import url('./__avitar/profile__avitar.css');
@import url('./__info/profile__info.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__name/profile__name.css');
@import url('./__explorer/profile__explorer.css');
@import url('./__add-button/profile__add-button.css');

.profile{
  display: flex;
  padding-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  .profile{
    max-width: 1024px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .profile{
    padding-left: 79px;
    padding-right: 79px;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .profile{
    max-width: 768px;
    padding: 0 40px 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .profile{
    max-width: 282px;
    padding: 0 0 36px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}