.header__line{
  border-bottom: 1px solid #545454;
  padding-top: 41px;
}

@media screen and (max-width: 1024px) {
  .header__line{
    max-width: 800px;
    
  }
}

@media screen and (max-width: 768px) {
  .header__line{
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .header__line{
    max-width: 320px;
    width: 100%;
  }
}