.header__logo{
  max-width: 173px;
  height: 33px;
  align-self: start;
  padding-bottom: 41px;
}

@media screen and (max-width: 1024px) {
  .header__logo{
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo{
    max-width: 150px;
    height: 45px;
    padding-left: 0;
  }
}

@media screen and (max-width: 425px) {
  .header__logo{
    width: 126px;
    height: 24px;
    margin: 0 0 32px 27px;
    padding: 0;
  }
}