@import url('./__logo/header__logo.css');

.header{
  max-width: 882px;
  height: 74px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding-top: 45px;
  margin: 0 auto;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1024px) {
  .header{
    max-width: 725px;
  }
}

@media screen and (max-width: 768px) {
  .header{
    width: 85vw;
    max-width: 425px;
  }
}

@media screen and (max-width: 425px) {
  .header{
    width: 100%;
    max-width: 320px;
    height: 56px;
    margin: 0 auto;
    padding: 28px 0 0 0;
  }
}