.content{
  max-width: 882px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 40px;
  overflow-x: hidden;
}

@media screen and (max-width: 1024px) {
  .content{
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .content{
    max-width: 768px;
  }
}

@media screen and (max-width: 425px) {
  .content{
    padding-top: 0;
    max-width: 320px;
    min-width: 300px;
  }
}