.profile__name{
  max-width: 380px;
  margin: 0;
  padding: 0 24px 16px 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 56px;
  color: #ffffff;
}

@media screen and (max-width: 425px) {
  .profile__name{
    width: 201px;
    padding: 0 17.25px 14px 40px;
    font-size: 22px;
    font-style: normal;
  }
}