.popup__close-button{
  background-image: url('../../../images/closeicon.png');
  width: 45px;
  height: 45px;
  padding: 0;
  border: none;
  align-content: center;
  background-repeat: no-repeat;
  background-color: #000000;
  position: absolute;
  top: -48px;
  right: -40px;
  cursor: pointer;
}