.element__like-button{
  background-image: url('../../../images/heart.png');
  position: absolute;
  bottom: 30px;
  right: 18px;
  width: 21px;
  height: 18px;
  border: none;
  outline: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: #ffffff;
  opacity: 1;
  transition: opacity .7s ease-out;
}

.element__like-button:hover{
  opacity: .6;
}