.profile__info{
  max-width: 428px;
  padding: 18px 154px 25px 30px;
  display: grid;
  grid-template-columns: 2fr max-content;
  grid-template-rows: minmax(50%, 50%);
}

@media screen and (max-width: 900px) {
  .profile__info{
    padding: 20px 20px 0 50px;
  }
}

@media screen and (max-width: 768px) {
  .profile__info{
    max-width: 500px;
    grid-template-columns: max-content max-content;
    padding: 15px 10px 25px 10px;
  }
}

@media screen and (max-width: 425px) {
  .profile__info{
    max-width: 280px;
    padding: 0 0 36px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}