@import url('./__card/element__card.css');
@import url('./__img/element__img.css');
@import url('./__description/element__description.css');
@import url('./__title/element__title.css');
@import url('./__like-button/element__like-button.css');
@import url('./__delete-button/element__delete-button.css');


.element{
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 362px);
  grid-column-gap: 18px;
  grid-row-gap: 21px;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 900px) {
  .element{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .element{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 645px) {
  .element{
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 425px) {
  .element{
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 20px;
  }
}