.profile__explorer{
  max-width: 318px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
}

.profile__explorer:hover{
  overflow: visible;
}

@media screen and (max-width: 425px) {
  .profile__explorer{
    max-width: 280px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}